<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.u2tzjtne.autoupdater">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
